*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Dosis';
    /* font-family: 'Poppins',sans-serif; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 6px 5px 0px rgb(0 0 0 / 40%);
}
.burger{
    display: none;
}
ul{
    margin: 0;
    padding: 0;
}
.logo{
    color: #D9A5A0;
    font-size: 40px;
    font-weight: 500;
    font-style: oblique;
    font-family: 'Dosis';
}
.nav_item{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
}
.nav_item li a{
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}
.nav_item li a:hover{
    color: #D9A5A0;
}
.active{
    color: #D9A5A0;
}
.cercle_container{
    position: relative;
    background: #F7EFE4;
    height: 55rem;
    height: 92vh;
    overflow: hidden;
}
.cercle{
    background: #D9A5A0;
    opacity: 0;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    bottom: -70px;
    animation: test 5s linear infinite;

}
.a{
    /* top: 100px; */
    left: 10vw;
    padding: 2rem;
    animation-delay: 1s;
}
.b{
    /* left: 130px; */
    left: 20vw;
    /* bottom: 150px; */
    padding: 2rem;
    animation-delay: 4s;
}
.c{
    /* bottom: 50px; */
    right: 30vw;
    padding: 2rem;
    animation-delay: 3.5s;
}
.d{
    right: 10vw;
    /* top: 50px; */
    padding: 3rem;
    animation-delay: 2.5s;
}
.e{
    right: 50vw;
    /* top: 40vh; */
    padding: 2rem;
    animation-delay: 1.7s;
}
.f{
    left: 55vw;
}
.content{
    position: absolute;
    z-index: 100;
    top: 15vh;
    bottom: 15vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 2fr 1fr;
    /* align-items: stretch; */
    /* justify-content: center; */
    align-content: center;
    grid-column-gap: 2rem;
}
.picture_me{
    /* width: 45vw;
    height: 45vh; */
    grid-column: 3/4;
    grid-row: 1/3;
    /* left: 10rem;
    right: 10rem; */
}
.picture_me img , .picture_me h2{
    margin: 1rem 7rem 1rem 8rem;
}
.picture_me img{

}
.picture_me h2{
    background: #D9A5A0;
    color: #F2EADF;
    font-size: 25px;
    width: 492px;
    text-align: center;
    margin-top: -20px;
    padding: 10px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.description_me{
    color: #D9A5A0;
    font-size: 24px;
    grid-column: 2/3;
    grid-row: 1/3;
    /* position: relative; */
    width: 45vw;
}
.description_me p {
    /* position: absolute; */
    overflow: hidden;
    text-align: justify;
    margin: 1rem 0rem;
    font-weight: 500;
}
/* .description_me p:nth-child(2){
    top: 50px;
    left: -100px;
}
.description_me p:nth-child(3){
    top: 210px;
    right: -200px;
}
.description_me p:nth-child(4){
    top: 350px;
    left: -100px;
}
.description_me p:last-child {
    right: -200px;
    top: 550px;
} */
/* .description_me p:nth-child(5) {
    left: -100px;
    top: 500px;
} */


@keyframes test{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    80%{
        transform: translateY(-97vh);
        opacity: 0.5;
    }
    100%{
        transform: translateY(-100vh);
        opacity: 0;
    }
}